
{% extends 'dashboard.html.twig' %}
{% block body %}
    <div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-10">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header" id="top">
                            <h2 class="pageheader-title">Add Event</h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Event Form</h5>
                    <div class="card-body">

                            {{ form_start(form)}}
                            <div>
                                <label>Event Name :</label>
                                <br>
                                {{ form_widget(form.nameEv,{'attr':{'type':'text','class':'form-control'}}) }}                                <br>
                            </div>
                            <div>
                                <label>Event Date :</label>
                                <br>
                                {{ form_widget(form.dateEv, {'attr': {'type':'date','class':'far fa-calendar-alt'} }) }}
                            </div>
                            <div>
                                <br>
                                <label>Equipement :</label>
                                <br>
                                {{ form_widget(form.equipementEv,{'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                            <div>
                                <br>
                                <label>Event Type :</label>
                                {{ form_widget(form.typeEv,{'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                            <div>
                                <br>
                                <div>
                                <label class="single-input">Poster :</label>
                                    </div>
                                <input type="" name="picker">
                                {{ form_widget(form.poster,{'attr':{'class':''}}) }}
                            </div>
                            <div>
                                <br>
                                <label>Description :</label>
                                {{ form_widget(form.descriptionEv,{'attr':{'type':'text','class':'form-control'}}) }}
                            </div>
                            <br><br>
                        <div class="row justify-content-center">
                            <div>
                            {{ form_widget(form.submit,{'attr':{'class':'btn btn-success'}}) }}
                            <a href="{{ path('donation_displaypage') }}" class="btn btn-success">Close</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{ form_end(form)}}
{% endblock %}