{% extends 'dashboard.html.twig' %}
{% block body %}


    <div class="row">
    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
        <div style="left: 300px;" class="card">
        <h5 class="card-header">Associations</h5>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                    <tr class="border-0">
                        <th class="border-0">#</th>
                        <th class="border-0">Image</th>
                        <th class="border-0">Name</th>
                        <th class="border-0">Type</th>
                        <th class="border-0">Address</th>
                        <th class="border-0">Goal</th>
                        <th class="border-0">Email</th>
                        <th class="border-0">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for i in 0..Associations|length-1 %}
                    <tr>
                        <td>{{ i+1 }}</td>
                        <td>
                            <div class="m-r-10"><img src="{{ asset('uploads/associations/' ~ Associations[i].imageName) }}" alt="user" class="rounded" width="45"></div>
                        </td>
                        <td>{{Associations[i].nomAssociation}}</td>
                        <td>{{Associations[i].TypeAssociation}}</td>
                        <td>{{Associations[i].AddressAssociation}}</td>
                        <td>{{Associations[i].ObjectifAssociation}}</td>
                        <td>{{Associations[i].EmailAssociation}}</td>
                        <td>{{Associations[i].DescriptionAssociation}}</td>
                        <td> <a  href="{{ path('delete_Association_Admin',{ 'id':Associations[i].idAssociation}) }}" class="genric-btn info-border circle">Delete</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}